<p>What is this?  Below the LINKS section is an example of something I made to help me re-learn Angular + NgRx.</p>
<p>The data is fake.  These restaurants are not real.  There are pictures of cats.</p>
<p>This is <b>not</b> an example of me applying what I know about security (not yet, anyhow).</p>
<p>In fact, to log in, pick a name from the following list.  The password will be the same as the username in each case.</p>
<ul>
 <li>Andy</li>
 <li>Betty</li>
 <li>Clyde</li>
 <li>Denny</li>
 <li>Eddie</li>
</ul>
<br>
<h3>LINKS:</h3>
<a href="https://github.com/ronwelte/ronwelte/tree/main/Frontend" target="_blank">See the source code for this Single Page App.</a>
<br>
<a href="http://hotpepperpuzzles.com" target="_blank">Other examples and a <b>puzzle</b> I invented.</a>
<br>
